{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-4 text-left">
    <h4>PACOMARCA</h4>
    <p>PACOMARCA ES UNA ESTACIÓN EXPERIMENTAL DE INVESTIGACIÓN CIENTÍFICA DEDICADA AL MEJORAMIENTO GENÉTICO DE LA ALPACA Y A LA TRANSFERENCIA TECNOLÓGICA Y DE MATERIAL GENÉTICO VALORADO HACIA LOS PEQUEÑOS PRODUCTORES ALTOANDINOS DEL PERÚ. BUSCA CONTRIBUIR A LA SOSTENIBILIDAD DE LA ALPACA A TRAVÉS DEL MEJORAMIENTO EN LA CALIDAD DE LA FIBRA PARA LOGRAR MEJORES PRECIOS EN EL MERCADO Y ASÍ MANTENER VIVO EL INTERÉS DE LOS PRODUCTORES EN SEGUIR PRODUCIENDO ESTE RECURSO.</p>
    <p>PACOMARCA FORMA PARTE DE LA DIVISIÓN TEXTIL DEL GRUPO INCA CUYAS EMPRESAS INCA TOPS S.A. E INCALPACA TPX SOSTIENEN (FINANCIAN) LOS PROGRAMAS QUE ALLÍ SE REALIZAN.</p>
    <p>COMO RESULTADO DE SU RELACIÓN CON DETERMINADAS COMUNIDADES Y DIVERSOS PRODUCTORES DE ALPACA, PACOMARCA PRODUCE ANUALMENTE UNA REDUCIDA CANTIDAD DE FIBRA DE ALPACA DE CARACTERÍSTICAS ESPECIALES, ÚNICAS EN EL MERCADO, LA CUAL PUEDE LLEGAR A SER 100% TRAZABLE Y SE COMERCIALIZA BAJO LA MARCA PACOMARCA.</p>
</div>
<div class="col-sm-8 right-img">
    <img src="{% static 'images/about-image-80.jpg'%}" draggable="false" class="img-fluid">
</div>
{% endblock %}