{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="pacomarca">
        <meta name="author" content="Josimar Mamani - elratonmaton@gmail.com">
        <title>PACOMARCA</title>
        
        <!-- Favicons -->
        <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="icon" href="/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
        <link rel="manifest" href="/img/favicons/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#563d7c">
        <link rel="icon" href="/favicon.ico">
        <meta name="msapplication-config" content="/docs/4.0/assets/img/favicons/browserconfig.xml">
        <meta name="theme-color" content="#FFFFFF">
        
        <!-- Facebook -->
        <meta property="og:url" content="https://pacomarca.com/">
        <meta property="og:title" content="pacomarca">
        <meta property="og:description" content="PACOMARCA.">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:image:secure_url" content="">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


        <link rel="stylesheet/less" type="text/css" href="{% static 'styles/style.less' %}">
        <script src="{% static 'js/less.min.js' %}" type="text/javascript"></script>
        <script>
            less = {
                env: "development"
            };
        </script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    </head>

    <body>

        <div class="container-fluid web">
            <div class="row header">
                <div class="col-sm-12 text-center">
                    <a href="/" class="logo">
                        <img src="{% static 'images/logo.png' %}">
                    </a>
                </div>
                <div class="col-sm-12 menu-content">
                    <ul class="menu">
                        <li>
                            <a href="/pacomarca/">PACOMARCA</a>
                            <ul class="submenu row">
                                <li class="col">
                                    <a href="/pacomarca/sobrenosotros/">SOBRE NOSOTROS</a>
                                </li>
                                <li class="col">
                                    <a href="/pacomarca/informacion-basica/">INFORMACIÓN BÁSICA DE LA ALPACA</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/programagenetico/">PROGRAMA GENÉTICO</a>
                            <ul class="submenu row">
                                <li class="col">
                                    <a href="/programagenetico/visitas/">VISITAS Y PASANTÍAS</a>
                                </li>
                                <li class="col">
                                    <a href="/programagenetico/">TENDENCIAS GENÉTICAS</a>
                                </li>
                                <li class="col">
                                    <a href="/programagenetico/">PUBLICACIONES</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>PROGRAMAS/INICIATIVAS</a>
                        </li>
                        <li>
                            <a>TRAZABILIDAD</a>
                        </li>
                        <li>
                            <a>FIBER COLLECTION</a>
                        </li>
                        <li>
                            <a>NEWS & VIDEOS</a>
                        </li>
                        <li>
                            <a>CONTACTO/MAPA</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row content">
                {% block content %}{% endblock %}
            </div>
            <div class="row footer">
                <div class="col-sm-12">
                    <a href="#">WHY ALPACA</a>
                    <a href="#">INCALPACA</a>
                    <a href="#">GRUPO INCA</a>
                    <a href="#">CONTACTO</a>
                    <a href="#">FACEBOOK</a>
                    <a href="#">INSTAGRAM</a>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>
            $('.menu a').each(function(){
                if (window.location.pathname.indexOf($(this).attr('href')) !== -1) {
                    //$('.menu a').removeClass('active');
                    $(this).parent().addClass('active');
                    $(this).addClass('active');
                }
            });
        </script>
    </body>
</html>