{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-12 text-large">
    <p>NOMBRE CIENTÍFICO: ES LAMA PACOS, SON LAS MÁS NUMEROSAS DE LOS CUATRO CAMÉLIDOS SUDAMERICANOS. CON UNA POBLACIÓN DE APROXIMADAMENTE 3,5 MILLONES DE ANIMALES EN EL PERÚ, QUE REPRESENTAN EL 75% DE LA POBLACIÓN MUNDIAL, SON EL PRINCIPAL MEDIO DE SUBSISTENCIA DE MILES DE FAMILIAS ALTO ANDINAS.</p>
    <p>MEDIDA: ENTRE 1,20 Y 1,50 M Y LLEGAR A PESAR ENTRE 45 Y 79 KG. TIENE UNA SILUETA MÁS PEQUEÑA Y CURVA QUE LA LLAMA Y EN LA FRENTE PRESENTA UN CLÁSICO MECHÓN DE FIBRA.</p>
    <p>ALTURA EN LA QUE VIVEN: A MÁS DE 4 000 MSNM EN UNA GEOGRAFÍA IMPRESIONANTE, DONDE LA DIFERENCIA DE TEMPERATURAS ENTRE EL DÍA Y LA NOCHE ALCANZA A 30ºC, MILES DE FAMILIAS CAMPESINAS CRÍAN REBAÑOS DE ALPACAS, COMO LO HAN HECHO POR MILES DE AÑOS, ESQUILANDO Y VENDIENDO ANUALMENTE LA FIBRA DE ESTOS ANIMALES, CONVIRTIÉNDOSE ASÍ EN SU PRINCIPAL FUENTE DE INGRESOS ANUALES.</p>
    <p>VARIEDADES DE ALPACA:</p>
    <p>HUACAYO: ES LA MÁS NUMEROSA EN EL PERÚ (93% DE LA POBLACIÓN), TIENE UNA FIBRA CORTA, RIZADA, DENSA Y ESPONJOSA QUE CUBRE CASI TODO SU CUERPO DEJANDO SOLO SU CARA Y PATAS CUBIERTAS CON PELO CORTO. </p>
    <p>SURI: TIENE UNA FIBRA LACIA, SEDOSA, LARGA Y DE EXCEPCIONAL BRILLO.</p>
    <p>LA ALPACA ES TRASQUILADA CON CUCHILLOS O TIJERAS POR LO GENERAL UNA VEZ AL AÑO DURANTE LA ÉPOCA DE ESQUILA: NOVIEMBRE A ABRIL. LA PRODUCCIÓN POR ANIMAL ES MUY VARIABLE, PUDIÉNDOSE OBTENER GENERALMENTE UN PROMEDIO DE 5 LIBRAS POR ANIMAL, AUNQUE HAY EJEMPLARES QUE PUEDEN RENDIR HASTA 15 LIBRAS POR VELLÓN.</p>
    <p>EL COLOR DE LA FIBRA ES VARIADO (HASTA 22 COLORES), PERO ES MÁS UNIFORME QUE EL DE LA LLAMA, Y VA DEL BLANCO AL NEGRO, PRESENTANDO TONALIDADES DE MARRÓN, GRIS Y COLORES NATURALES. ESTA ES UNA CARACTERÍSTICA QUE NO ES POSIBLE ENCONTRAR EN OTRAS FIBRAS NATURALES, DE LAS LLAMADAS 'NOBLES', UTILIZADAS PARA LA FABRICACIÓN DE TEXTILES.</p>
    <p>LAS FIBRAS SON CLASIFICADAS MANUALMENTE DE ACUERDO A SU FINURA EN CALIDADES COMO ROYAL ALPACA (MENOS DE 19 MICRONES), BABY ALPACA (22,5 MICRONES), SUPER FINE ALPACA (25,5 MICRONES), HUARIZO (29 MICRONES), GRUESA (32 MICRONES) Y MIXED PIECES (FIBRAS CORTAS POR LO GENERAL SOBRE LOS 32 MICRONES).</p>
    <p>LOS NOMBRES DE ESTAS CALIDADES NO REFLEJAN NECESARIAMENTE EDADES EN LOS ANIMALES U OTRAS CARACTERÍSTICAS FENOTÍPICAS. LA CALIDAD BABY, POR EJEMPLO, SE REFIERE A PRODUCTOS (TOPS, HILADOS, TELAS, ETC.) QUE TIENEN EN PROMEDIO 22,5 MICRAS. SIN EMBARGO LA FIBRA UTILIZADA PARA LOGRAR ESTA CALIDAD NO NECESARIAMENTE PROVIENE DE ANIMALES BEBÉS. PUEDE FÁCILMENTE PROVENIR DE UN ANIMAL ADULTO PERO EXTREMADAMENTE FINO.</p>
    <p>CADA CALIDAD SE EMPLEA PARA CREAR DIFERENTES PRODUCTOS TALES COMO TELAS, CHALINAS, CHOMPAS, FRAZADAS, ALFOMBRAS, ETC. MEZCLÁNDOSE TAMBIÉN CON OTRAS FIBRAS GENERALMENTE NATURALES.</p>
    <p>ESTA FIBRA ES INUSUALMENTE FUERTE Y RESISTENTE, Y ESTO SE MANTIENE MIENTRAS MÁS FINA SEA, VOLVIÉNDOLA IDEAL PARA PROCESOS INDUSTRIALES. ADEMÁS, ES FÁCIL DE TEÑIR A CUALQUIER COLOR Y SIEMPRE MANTIENE SU LUSTRE NATURAL.</p>
    <p>POR OTRO LADO LA ALPACA PUEDE SER TRABAJADA EN LOS SISTEMAS DE PEINADO Y CARDADO, PUDIENDO OBTENERSE TELAS ENTRE TWEEDS GRUESA Y GABARDINA FINA. LA FIBRA DE ALPACA NO SE ROMPE, DESHILACHA, MANCHA O CREA ESTÁTICA, ES FÁCIL DE LAVAR.</p>
    <p>LA ALPACA TIENE UN ALTO GRADO DE LIMPIEZA EN LA FIBRA DESPUÉS DE HABER SIDO PROCESADA (ENTRE EL 87% Y 95% VERSUS UN 43% A 76% DE LA LANA DE OVEJA), ADEMÁS QUE SU PROCESO ES MÁS FÁCIL Y BARATO DEBIDO A LA CARENCIA DE GRASA O LANOLINA EN SU FIBRA, Y A QUE NO SE LE DEBE (DE-HAIRED) DESCERDAR COMO AL CASHMERE.</p>

    <div class="row tablehead">
        <div class="col-sm-12">FACTORES QUE INFLUYEN EN EL VALOR DE LA ALPACA</div>
    </div>
    <div class="row tablebody">
        <div class="col">FINURA</div>
        <div class="col">COLOR</div>
        <div class="col">LONGITUD</div>
        <div class="col">PRODUCCIÓN</div>
        <div class="col">IMPUREZAS EN LA FIBRA</div>
        <div class="col">FACTORES NUTRICIONALES</div>
    </div>
    <div class="row tablebody">
        <div class="col">ES UN FACTOR GENÉTICO HEREDABLE. A MAYOR FINURA, MAYOR PRECIO.</div>
        <div class="col">LA FIBRA BLANCA TIENE UN PRECIO MAYOR PARA LAS EMPRESAS INDUSTRIALES, YA QUE LES PERMITE TEÑIRLA EN COLORES PASTELES O CUALQUIER OTRO COLOR QUE ESCOJAN. EN CAMBIO, PARA LOS ARTESANOS LA FIBRA DE COLORES NATURALES TIENE UN MAYOR VALOR.</div>
        <div class="col">SEGÚN LA LONGITUD DE LA FIBRA SE DECIDE SI ÁSTA PUEDE PEINARSE O CARDARSE.</div>
        <div class="col">QUE ES IMPORTANTE EN DOS ASPECTOS, EL PESO QUE TENGAN LOS VELLONES Y LA PUREZA DE LOS MISMOS.</div>
        <div class="col">EN ESTE CASO, TAMBIÉN SE OBTIENEN MAYORES PRECIOS POR FIBRA MÁS LIMPIA.</div>
        <div class="col">YA QUE AFECTAN EL CRECIMIENTO Y HASTA LA FINURA DE LA FIBRA.</div>
    </div>


    <div class="row tablehead">
        <div class="col-sm-12">PROPIEDADES TEXTILES DE LA FIBRA DE ALPACA QUE DESTACAN</div>
    </div>
    <div class="row tablebody">
        <div class="col">NO INFLAMABILIDA</div>
        <div class="col">ELASTICIDAD / RESISTENCIA</div>
        <div class="col">PROPIEDAD HIGROSCÓPICA</div>
        <div class="col">PROPIEDAD TÉRMICA</div>
        <div class="col">AFIELTRAMIENTO</div>
        <div class="col">SUAVIDAD (MANO)</div>
        <div class="col">TEXTURA VISUAL</div>
    </div>
    <div class="row tablebody">
        <div class="col">LA FIBRA NO COMBUSTIONA SINO ESTÁ EN CONTACTO DIRECTO CON EL FUEGO.</div>
        <div class="col">LA FIBRA DE ALPACA TIENE MUY BUENA ELASTICIDAD Y RESISTENCIA SIENDO POSIBLE COMPARARLA CON LA DE LA LANA Y OTRAS FIBRAS ANIMALES.</div>
        <div class="col">LA ABSORCIÓN DE LA HUMEDAD AMBIENTAL ES BAJA.</div>
        <div class="col">LA ESTRUCTURA DE LA FIBRA DE ALPACA HACE QUE SE COMPORTE COMO UN AISLANTE, SIENDO POSIBLE UTILIZARLA EN DIFERENTES CONDICIONES CLIMÁTICAS.</div>
        <div class="col">LA FIBRA DE ALPACA TIENE UNA MENOR TENDENCIA AL AFIELTRAMIENTO SI ES QUE LA COMPARAMOS CON LA LANA Y OTRAS FIBRAS ANIMALES.</div>
        <div class="col">LA ESTRUCTURA DE LA FIBRA DE ALPACA, LA HACE MUY SUAVE AL TACTO, PUDIÉNDOSE COMPARAR CON UNA LANA DE 3 A 4 MICRONES MÁS FINA.</div>
        <div class="col">ESPECIALMENTE PARA ABRIGOS (DE PELO), LA TELA TIENE UNA EXCELENTE CAÍDA, APARIENCIA, BRILLO NATURAL Y TACTO, MANTENIÉNDOSE INALTERABLE A TRAVÉS DEL TIEMPO.</div>
    </div>

</div>

{% endblock %}