{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-4 text-left">
    {{ context.content.text | safe }}
</div>
<div class="col-sm-8 right-img">
    <img src="{{ context.content.image.url }}" draggable="false" class="img-fluid">
</div>

{% if context.pasantias %}
    <div class="col-sm-12 text-center vistas-add">
        <a href="#" id="open-pasantias">PROGRAMA PASANTIAS EN PACOMARCA / DURACIÓN: 3 DÍAS / MODALIDAD: TEORÍA Y PRÁCTICA SEGÚN CORRESPONDA</a>
    </div>
    <div class="col-sm-12 pasantias">
        <div class="row fullh">
            <div class="col-sm-9">
                <h4>PROGRAMA PASANTIAS EN PACOMARCA / DURACIÓN: 3 DÍAS / MODALIDAD: TEORÍA Y PRÁCTICA SEGÚN CORRESPONDA</h4>
                <button class="pacobutton">INSCRIPCIONES</button>
                <ul class="pasantias-accordeon">
                    {% for pas in context.pasantias %}
                        <li class="titles">
                            {{ pas.title }}
                            <span><i class="fas fa-angle-down"></i></span>
                            <div class="program">
                                <div class="row">
                                    <div class="col-sm-8">
                                        INTRODUCCIÓN AL PROGRAMA GENERAL DE PACOMARCA
                                    </div>
                                    <div class="col-sm-4">
                                        9:00 – 9:30 AM
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}