.container-fluid {
    padding: 0 4rem;
}
@font-face {
    font-family: 'Andale';
    src: url('/static/fonts/Andale_Mono.ttf');

}
@primary: #000000;
@hover: #454545;
@lines: #211915;
@active: #ffffff;

* {
    font-family: 'Andale';
    user-select: none;
}
a {
    color: @primary;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: @hover;
}
.index {
    .header {
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
        position: relative;
        .logo {
            display: inline-block;
            margin: 0 auto;
            img {
                display: block;
                width: auto;
                height: 60px;
            }
        }
        .social-top {
            position: absolute;
            right: 0;
            top: 25%;
        }
    }

    .portada {
        .portada-index {
            background: url('/static/images/portada_nuevo_4.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: calc(100vh - 228px);
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        margin-bottom: 3rem;
        a {
            display: inline;
        }
    }
    
}

.web {
    .header {
        margin-top: 4rem;
        .menu-content {
            padding: 0;
            margin-top: 4rem;
            .menu {
                border-top: 2px solid @lines;
                border-bottom: 2px solid @lines;
                list-style: none;
                display: flex;
                justify-content: space-between;
                padding: .5rem 0;
                position: relative;
                li {
                    display: inline-block;
                    a {
                        padding: 2px .25rem;
                    }
                    a:hover {
                        background: @primary;
                        color: @active;
                    }
                }
                li.active {
                    a.active {
                        background: @primary;
                        color: @active;
                    }
                    .submenu {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        border-bottom: 2px solid @lines;
                        list-style: none;
                        display: flex;
                        width: 100%;
                        padding-left: 0;
                        margin-left: 0;
                        li:first-child {
                            border-left: none;
                        }
                        li {
                            display: inline-block;
                            border-left: 2px solid @lines;
                            text-align: center;
                            a {
                                margin-top: .5rem;
                                margin-bottom: .5rem;
                                display: inline-block;
                                padding: 0 .25rem;
                            }
                        }
                    }
                }
                .submenu {
                    display: none;
                }
            }
        }
    }
    .content {
        position: relative;
        .text-left{
            margin-top: 5rem;
            padding: 0 4rem;
            h1, h2, h3, h4, h5 {
                font-size: 1rem;
                margin-bottom: 3rem;
            }
            p {
                font-size: .8rem;
                text-align: justify;
            }
        }
        .right-img {
            margin-top: 5rem;
            padding-right: 4rem;
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
        }
        .text-large {
            margin-top: 5rem;
            p {
                font-size: .8rem;
                text-align: justify;
            }
            .tablehead {
                text-align: center;
                margin-top: 3rem;
                border: 2px solid @lines;
                div {
                    padding: .8rem 0;
                    font-size: .8rem;
                }
            }
            .tablebody {
                text-align: center;
                border-bottom: 2px solid @lines;
                border-left: 2px solid @lines;
                border-right: 2px solid @lines;
                div:first-child {
                    border-left: none;
                }
                div {
                    border-left: 1px solid @lines;
                    font-size: .8rem;
                    padding: .8rem;
                }
            }
        }

        .vistas-add {
            position: absolute;
            bottom: -4.5rem;
            font-size: .8rem;
        }

        .pasantias {
            height: calc(100vh - 228px);
            .fullh {
                justify-content: center;
                align-items: center;
                height: 100%;
                h4 {
                    font-size: .7rem;
                    display: inline-block;
                    padding-top: 1rem;
                }
                button {
                    font-size: .8rem;
                    display: inline-block;
                    float: right;
                    background: transparent;
                    border: 1.5px solid @lines;
                    padding: .5rem .8rem;
                }

                .pasantias-accordeon {
                    list-style: none;
                    padding-left: 0;
                    margin-top: 1.5rem;
                    .titles:first-child {
                        border-top: 2px solid @lines;
                    }
                    .titles {
                        display: block;
                        width: 100%;
                        border-bottom: 2px solid @lines;
                        border-left: 2px solid @lines;
                        border-right: 2px solid @lines;
                        padding-left: 1rem;
                        position: relative;
                        font-size: .8rem;
                        padding-top: .25rem;
                        padding-bottom: .25rem;
                        cursor: pointer;
                        span {
                            position: absolute;
                            right: 15px;
                            top: .5rem;
                        }
                    }
                }
            }
        }
    }




    .footer {
        margin-top: 5rem;
        border-top: 2px solid @lines;
        div {
            text-align: right;
            padding: 2rem 0;
            a {
                font-size: .8rem;
                display: inline-block;
                margin-left: 3rem;
            }
        }
    }
}